.hit-count {
	position: absolute;
	top:8px;
	left:8px;
	bottom:8px;
	right:8px;
	text-align:center;
	background:rgba(80,80,100,0.9);
	z-index:100000;
	background: radial-gradient(ellipse at center, rgba(245,73,151,1) 0%,rgba(245,73,151,0.85) 53%,rgba(245,73,151,0) 65%,rgba(245,73,151,0) 100%);
}

.hit-count .count {
	font-size: 28pt;
	color:white;
	text-shadow: 2px 2px 10px #000;
	margin-top: 10px;
	display: block;
}

.group-item .hit-count .count {
	font-size: 18pt;
}
