.hit-count {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	text-align:center;
	background:rgba(80,80,100,0.9);
	z-index:100000;
	background: rgba(245,73,151,0.8);
}

.hit-count .count {
	font-size: 28pt;
	color: white;
	text-shadow: 2px 2px 10px #000;
	margin-top: 70px;
	display: block;
}

.group-item .hit-count .count {
	margin-top:10px;
}

.group-item .hit-count .count {
	font-size: 18pt;
}
